.Desc__Sec2>h1{
    font-size: 55px;
    text-align: center;
    color: #212121;
    font-weight: 700;
}

.Desc__Sec2>h3{
    text-align: center;
    margin-top: -2rem;
    font-weight:500;
    font-size: 28px;
    color: #1d1d1d;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    gap: 20px;
    color:#2962ff;
    font-weight: 400;
    font-size: 20px;
}


@media (max-width:991px){
    .Desc__Sec2>h1{
        font-size: 30px;
        padding: 5px;
    } 
    
    .Desc__Sec2>h3{
      
        margin-top: -1.5rem;
        font-weight:500;
        font-size: 16px;
        
    }

    .buttons{
        color:#2962ff;
        font-weight: 400;
        font-size: 14px!important;
    }
}

@media (max-width:991px){
    .Desc__Sec2>h1{
        font-size: 20px;
        padding: 5px;
    } 
    
    .Desc__Sec2>h3{
      
        margin-top: -1.2rem;
        font-weight:500;
        font-size: 16px;
        
    }

    .buttons{
        color:#2962ff;
        font-weight: 400;
        font-size: 14px!important;
    }
}